In [1]:
import pandas as pd
import numpy as np

In [5]:
d=pd.Series(np.arange(1,10),index=(np.arange(1,10)))

In [10]:
pd.Series(np.arange(1,10),index=(np.arange(1,10)))

1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [8]:
data=pd.Series(np.arange(1001,1030),index=(np.arange(1,30)))

In [7]:
s=pd.Series(np.arange(1001,1030),index=(np.arange(1,30)))
s

1     1001
2     1002
3     1003
4     1004
5     1005
6     1006
7     1007
8     1008
9     1009
10    1010
11    1011
12    1012
13    1013
14    1014
15    1015
16    1016
17    1017
18    1018
19    1019
20    1020
21    1021
22    1022
23    1023
24    1024
25    1025
26    1026
27    1027
28    1028
29    1029
dtype: int32

In [4]:
s=pd.Series(np.arange(1,30),index=(np.arange(1001,1030)))

In [5]:
v=pd.Series(np.arange(1,30),index=(np.arange(1001,1030)))

In [15]:
v=pd.Series(np.arange(1001,1030),index=(np.arange(1,30)))
v

1     1001
2     1002
3     1003
4     1004
5     1005
6     1006
7     1007
8     1008
9     1009
10    1010
11    1011
12    1012
13    1013
14    1014
15    1015
16    1016
17    1017
18    1018
19    1019
20    1020
21    1021
22    1022
23    1023
24    1024
25    1025
26    1026
27    1027
28    1028
29    1029
dtype: int32

# task 1

In [4]:
m=pd.Series(np.arange(1,30),index=(np.arange(1001,1030)))

In [13]:
b=pd.Series(np.arange(1001,1030),index=(np.arange(1,30)))

In [9]:
n=pd.Series(np.arange(1,30),index=(np.arange(1001,1030)))
n

1001     1
1002     2
1003     3
1004     4
1005     5
1006     6
1007     7
1008     8
1009     9
1010    10
1011    11
1012    12
1013    13
1014    14
1015    15
1016    16
1017    17
1018    18
1019    19
1020    20
1021    21
1022    22
1023    23
1024    24
1025    25
1026    26
1027    27
1028    28
1029    29
dtype: int32

In [6]:
m=pd.Series(np.arange(1,30),index=(np.arange(1001,1030)))

In [7]:
np.arange(1,30)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [5]:
m=pd.Series(np.arange(1,30),index=(np.arange(1001,1030)))

In [6]:
h=pd.Series(np.arange(1,30,),index=(np.arange(1001,1030)))

In [7]:
h

1001     1
1002     2
1003     3
1004     4
1005     5
1006     6
1007     7
1008     8
1009     9
1010    10
1011    11
1012    12
1013    13
1014    14
1015    15
1016    16
1017    17
1018    18
1019    19
1020    20
1021    21
1022    22
1023    23
1024    24
1025    25
1026    26
1027    27
1028    28
1029    29
dtype: int32

In [2]:
i=pd.Series(np.arange(1,41),index=np.arange(1001,1041))

In [15]:
pd.random.seed(1)

AttributeError: module 'pandas' has no attribute 'random'

In [4]:
i=pd.Series(np.arange(1001,1041),index=np.arange(1,41))

In [5]:
i

1     1001
2     1002
3     1003
4     1004
5     1005
6     1006
7     1007
8     1008
9     1009
10    1010
11    1011
12    1012
13    1013
14    1014
15    1015
16    1016
17    1017
18    1018
19    1019
20    1020
21    1021
22    1022
23    1023
24    1024
25    1025
26    1026
27    1027
28    1028
29    1029
30    1030
31    1031
32    1032
33    1033
34    1034
35    1035
36    1036
37    1037
38    1038
39    1039
40    1040
dtype: int32

In [11]:
#assign the student ids as index values from 1001 to 1040
i=pd.Series(np.arange(1,41),index=np.arange(1001,1041))
i

1001     1
1002     2
1003     3
1004     4
1005     5
1006     6
1007     7
1008     8
1009     9
1010    10
1011    11
1012    12
1013    13
1014    14
1015    15
1016    16
1017    17
1018    18
1019    19
1020    20
1021    21
1022    22
1023    23
1024    24
1025    25
1026    26
1027    27
1028    28
1029    29
1030    30
1031    31
1032    32
1033    33
1034    34
1035    35
1036    36
1037    37
1038    38
1039    39
1040    40
dtype: int32

# task 2

In [4]:
# random no b/w  50 to 95
np.random.seed(20)
math_marks=pd.Series(np.random.randint(50,96,40),index=i.index)
math_marks

1001    85
1002    76
1003    65
1004    81
1005    78
1006    76
1007    59
1008    70
1009    61
1010    72
1011    57
1012    84
1013    82
1014    90
1015    71
1016    76
1017    76
1018    69
1019    66
1020    88
1021    88
1022    66
1023    91
1024    87
1025    57
1026    87
1027    84
1028    56
1029    76
1030    63
1031    61
1032    75
1033    53
1034    60
1035    61
1036    63
1037    69
1038    80
1039    82
1040    60
dtype: int32

In [16]:
np.random.seed(1)

In [14]:
np.random.seed(20)
n=pd.Series(np.random.randint(50,96,40),index=i.index)
n

1001    85
1002    76
1003    65
1004    81
1005    78
1006    76
1007    59
1008    70
1009    61
1010    72
1011    57
1012    84
1013    82
1014    90
1015    71
1016    76
1017    76
1018    69
1019    66
1020    88
1021    88
1022    66
1023    91
1024    87
1025    57
1026    87
1027    84
1028    56
1029    76
1030    63
1031    61
1032    75
1033    53
1034    60
1035    61
1036    63
1037    69
1038    80
1039    82
1040    60
dtype: int32

In [12]:
np.random.seed(20)
math=pd.Series(np.random.randint(50,96,40),index=i.index)

math

1001    85
1002    76
1003    65
1004    81
1005    78
1006    76
1007    59
1008    70
1009    61
1010    72
1011    57
1012    84
1013    82
1014    90
1015    71
1016    76
1017    76
1018    69
1019    66
1020    88
1021    88
1022    66
1023    91
1024    87
1025    57
1026    87
1027    84
1028    56
1029    76
1030    63
1031    61
1032    75
1033    53
1034    60
1035    61
1036    63
1037    69
1038    80
1039    82
1040    60
dtype: int32

In [13]:
n=pd.Series(np.random.randint(1,34,40),index=i.index)
n.sort_values()

1025     2
1006     2
1029     3
1032     5
1012     5
1033     5
1040     6
1009     7
1018     7
1013     7
1038     7
1035     9
1036     9
1023    10
1007    11
1028    13
1016    13
1026    14
1037    15
1020    15
1024    16
1005    17
1002    18
1001    19
1008    19
1034    20
1017    21
1022    22
1003    23
1031    23
1030    23
1011    24
1010    25
1014    25
1021    25
1039    26
1015    30
1019    30
1027    33
1004    33
dtype: int32

# task 3

In [5]:
#generating no b/w 40 to 95
phy_marks=pd.Series(np.random.randint(40,95,40),index=i.index)
phy_marks

1001    83
1002    46
1003    51
1004    58
1005    43
1006    53
1007    57
1008    83
1009    56
1010    58
1011    55
1012    66
1013    47
1014    51
1015    94
1016    69
1017    85
1018    46
1019    54
1020    64
1021    58
1022    69
1023    73
1024    54
1025    82
1026    70
1027    43
1028    58
1029    46
1030    81
1031    92
1032    62
1033    54
1034    44
1035    67
1036    51
1037    48
1038    46
1039    66
1040    55
dtype: int32

# task 4

In [6]:
#cut of marks for eligible is 150
total_sum=phy_marks+math_marks
s=total_sum[total_sum>=150]
s

1001    168
1008    153
1012    150
1015    165
1017    161
1020    152
1023    164
1026    157
1031    153
dtype: int32

In [6]:
np.size(s)

9

# task 5

In [8]:
#generate random no for math score range 50 - 100 and 30 - 100
math2=pd.Series(np.random.randint(50,100,9),index=s.index)
phy2=pd.Series(np.random.randint(30,100,9),index=s.index)

In [9]:
l2 =pd.Series(math2+phy2+s)
l2

1001    285
1008    310
1012    248
1015    282
1017    304
1020    300
1023    314
1026    326
1031    277
dtype: int32

# task 6

In [10]:
#cut of for the elegible list is 300
screening_eligible=l2[l2>300]
screening_eligible

1008    310
1017    304
1023    314
1026    326
dtype: int32

# task 7

In [11]:
#generatethe no for the mathand physic evalvate thestudents only for 40% and 60% 
math3=pd.Series(np.random.randint(50,101,len(screening_eligible)),index=screening_eligible.index)
phy3=pd.Series(np.random.randint(50,101,len(screening_eligible)),index=screening_eligible.index)

In [13]:
screening_test=math3+phy3
total_score=screening_eligible/400*40
total_score

1008    31.0
1017    30.4
1023    31.4
1026    32.6
dtype: float64

In [16]:
np.random.randint(4,100,20)

array([72, 91, 18, 98, 40, 76, 71, 90, 29, 43, 34, 89, 63, 37, 77, 24,  6,
       82, 26, 51])

In [14]:
scr_test=screening_test/200*60
total_percentage=total_score+scr_test
total_percentage

1008    90.7
1017    86.8
1023    65.9
1026    78.2
dtype: float64

# task 8

In [8]:
#cut of for the elegiblity is 75 score
eligiblity3=total_percentage[total_percentage>=75]
eligiblity3

NameError: name 'total_percentage' is not defined

# task 9

In [17]:
#store the elegible students into a data frame  determine thehigest and the lowest scorrer among all the elegible students
df=pd.DataFrame(eligiblity3,columns=['total'])
df

      total
1008   90.7
1017   86.8
1026   78.2

In [18]:
eligiblity3.sort_values(ascending=False)[0:1]

1008    90.7
dtype: float64

In [19]:
eligiblity3.sort_values(ascending=True)[0:1]

1026    78.2
dtype: float64